<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bliki.io</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie-consent/dist/jquery.cookie-consent.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.cookieConsent();
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BBDKFSQG2N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BBDKFSQG2N');
    </script>
</head>
<body>

<h1>Welcome to bliki.io!</h1>
If you want to create your own bliki, you need to receive invitation.
If you want one, please contact us at: hello.bliki@gmail.com

<h2>Available blikis</h2>

<ul>
    <li th:each="bliki:${blikis}"><a th:href="'/bliki/'+${bliki.id}" th:text="${bliki.name}" href="#"></a> - <span
            th:text="${bliki.description}"></span></li>
</ul>

<a href="/admin/">Login</a>

<h2>Categories</h2>

<ul>
    <li th:each="category:${categories}"><a th:href="'/category/'+${category.id}" th:text="${category.name}" href="#"></a> - <span
            th:text="${category.description}"></span></li>
</ul>


</body>
</html>