<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bliki.io</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie-consent/dist/jquery.cookie-consent.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.cookieConsent();
        });
    </script>
</head>
<body>

<h1 th:text="${bliki.name}"></h1>
<div th:text="${bliki.description}"></div>

<div th:each="category:${categories}">
    <h2 th:text="${category.key.name}"></h2>
    <ul>
        <li th:each="link:${category.value}"><a th:href="${link.href}" th:text="${link.text}" href="#"></a> <span
                th:text="${link.rating}"></span>/5 - <span th:text="${link.description}"></span></li>
    </ul>
</div>

</body>
</html>