<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bliki.io</title>
</head>
<body>
<ul>
    <li><a href="https://kodologia.pl/blog/czym-jest-system-kontroli-wersji">Założenie konta na GitHubie</a></li>
    <li><a href="https://docs.github.com/en/get-started/signing-up-for-github/signing-up-for-a-new-github-account">Założenie
        konta na GitHubie</a></li>
    <li><a href="https://www.wikihow.com/Create-an-Account-on-GitHub">Założenie konta na GitHubie</a></li>
</ul>
<h2>Narzędzia do UX/UI/Prototypowania/Projektowania graficznego</h2>
<ul>
    <li><a href="https://www.figma.com/">Figma</a> - dużo da się zrobić za darmoszkę</li>
    <li><a href="https://balsamiq.com/">Balsamiq Wireframes</a> - trzeba bulić kaskę</li>
</ul>

<h2>Technologie front-endowe</h2>
<ul>
    <li><a href="https://pl.khanacademy.org/computing/computer-programming/html-css">HTML/CSS</a></li>
    <li><a href="https://pl.khanacademy.org/computing/computer-programming/programming">JavaScript</a></li>
</ul>
</body>
</html>